.red {
  color: red;
}


.bi-value-spade-fill, 
.bi-value-club-fill {
  color: black;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%; 
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card * {
  text-align: center;
}

.card__value--top,
.card__value--bottom {
  font-size: 3em !important;
  font-family: sans-serif;
}

.card__value--top {
  grid-column-start: 3;
  grid-row-start: 1;
}

.card__value--bottom {
  grid-column-start: -4;
  grid-row-start: 3;
}

.card__suit {
  font-family: sans-serif;
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 4em !important;
}